@charset "utf-8";


@media screen and (max-width:850px){
    
    
    .tableToolBtnClass {
        background-color: #fff;
        border: 0px;
        display: none;
    }

    .tableToolBtnChangeClass {
        background-color: #fff;
        border: 0px;
        display: compact;
    }

    #applyTable {
        border-collapse: collapse;
        border-radius: 15px;
        margin-left: 5%;
        background-color: #fff;
        width:600px;
    }

    .textClass {
        text-align: left;
        font-size: 1.67em;
        font-weight: 600;
        font-family: Myriad;
        color: #808080;
        height: 30px;
        padding-bottom: 0px;
    }

    .inputClass {
        text-align: left;
        height: 45px;
        vertical-align: central;
    }

    #tableTitle {
        font-size: 1.5em;
        font-weight: 700;
        color: #0092A6;
        margin-left: 10%;
    }

    #frameDiv {
        width:330%;
        height:230%;
        background-image: url("../../Images/backgroundPic.jpg");
        background-color: #E4E4E4;
        background-repeat: repeat;
    }



    #siteId {
        border: 1px solid #95B8E7;
        border-radius: 5px;
    }

    #commentId {
        border: 1px solid #95B8E7;
        border-radius: 5px;
        height: 30px;
        width: 400px;
    }

    #resetBtn, #submitBtn, #editBtn,#importBtn,#saveBtn {
        width: 18%;
        height: 100%;
        float: right;
        border: 0px;
        border-radius: 5px;
        color: #fff;
        font-size: 1.25em;
        margin-right: 2%;
    }
    #addBtn {
        width: 90%;
        height: 80%;
        border: 0px;
        border-radius: 5px;
        color: #fff;
        font-size: 0.7em;
    }
    #submitBtn {
        margin-right: 5%;
        background-color: #428BCA;
    }

    .createDetailClass1 {
        display:none;
    }
    
    .createDetailClass2 {
        display:block;
        position:relative;
        left:5%;
        top:3%;
        background-color:#fff;
        border-radius:5px;
        width:50%;
        padding-left:0px;
        overflow-x:scroll;
    }
    .createDetailBox {
        font-size:1.4em;
        font-weight:600;
        margin-right:5px;
        
    }
    #createUlLi {
        color:#0092A6;
        font-size:1.5em;
        font-weight:600;
        padding-left:5%;
    }
    .divOverflowCss {
        width:50%;
        height:24%;
        overflow-y:scroll;
    }
}

@media screen and (min-width:851px){
    .divOverflowCss {
        width:370px;
        height:300px;
        overflow-y:scroll;
    }
    #createUlLi {
        color:#0092A6;
        font-size:1.5em;
        font-weight:600;
        padding-left:35%;
    }
    .createDetailClass1 {
        display:none;
    }
    
    .createDetailClass2 {
        display:block;
        position:absolute;
        left:5%;
        top:20%;
        background-color:#fff;
        border-radius:5px;
        width:22%;
        padding-left:0px;
        overflow-x:scroll;
    }
    .createDetailBox {
        font-size:1.4em;
        font-weight:600;
        margin-right:5px;
        
    }

    .tableToolBtnClass {
        background-color: #fff;
        border: 0px;
        display: none;
    }

    .tableToolBtnChangeClass {
        background-color: #fff;
        border: 0px;
        display: compact;
    }

    #applyTable {
        border-collapse: collapse;
        border-radius: 15px;
        margin-left: 29%;
        background-color: #fff;
        width:42%;
        height:91%
    }

    .textClass {
        text-align: left;
        font-size: 1.67em;
        font-weight: 600;
        font-family: Myriad;
        color: #808080;
        height: 30px;
        padding-bottom: 0px;
    }

    .inputClass {
        text-align: left;
        height: 45px;
        vertical-align: central;
    }

    #tableTitle {
        height:9%;
        font-size: 3.33em;
        font-weight: bolder;
        color: #0092A6;
        margin-left: 36%;
    }

    #frameDiv {
        width: 100%;
        height: 100%;
        margin-top: 0px;
        background-image: url("../../Images/backgroundPic.jpg");
        background-color: #E4E4E4;
        background-repeat: repeat;
    }



    #siteId {
        border: 1px solid #95B8E7;
        border-radius: 5px;
    }

    #commentId {
        border: 1px solid #95B8E7;
        border-radius: 5px;
        height: 30px;
        width: 400px;
    }

    #resetBtn, #submitBtn, #editBtn,#importBtn,#saveBtn {
        width: 18%;
        height: 30px;
        float: right;
        border: 0px;
        border-radius: 5px;
        color: #fff;
        font-size: 1.25em;
        margin-right: 2%;
        font-weight:600;
    }
    #addBtn {
        width: 90%;
        height: 30px;
        border: 0px;
        border-radius: 5px;
        color: #fff;
        font-size: 0.7em;
        font-weight:600;
    }
    #submitBtn {
        margin-right: 5%;
        background-color: #428BCA;
    }

   
}


    #resetBtn {
        background-color: #D9534F;
    }

    #editBtn {
        background-color: #5CB85C;
        
    }
    #importBtn {
        background-color: #9B30FF;
        
    }
    #saveBtn {
        background-color: #666666;
    }
    #addBtn  {
        background-color: #6A5ACD;
    }