@{
    ViewBag.Title = "NoPermission";
    Layout = null;
}


<!-- Page title -->
<div class="page-title">
    <h2><i class="icon-desktop color"></i> NoPermission <small>You have no permission to operate!</small></h2>
    <hr />
</div>
<!-- Page title -->

<div class="row">
    <!--col-md-6 start-->
    <div class="col-md-12 alert alert-warning">
        I'm sorry,you have no permission to operate!
    </div>
</div>
